.item-card{
  position: relative;

  .card-top{
    z-index: 50;
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: #1F2833;
    box-shadow: 10px 5px 5px #1F2833, -0.5em 0.4em #1F2833;
    border:1px  #66FCF1 solid;
  }
}


.slick-initialized .slick-slide {
  display: flex;
}
